# Indexado y manejo de archivos csv

In [20]:
import pandas as pd
import numpy as np

In [21]:
pd.__version__

'1.0.1'

In [22]:
# Creando un DataFrame a partir de un diccionario de datos
dict_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

## Guardar y recuperar datos de un archivo csv

In [27]:
df.to_csv('../datasets/paises.csv', index=False)

In [28]:
df = pd.read_csv('../datasets/paises.csv')
df

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

## Guardar y recuperar en formato de excel

In [29]:
df.to_excel('../datasets/paises.xlsx', index=False)

In [30]:
df = pd.read_excel('../datasets/paises.xlsx')
df

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

## Guardar y recuperar en formato JSON

In [33]:
df.to_json('../datasets/paises.json')

In [34]:
df = pd.read_json('../datasets/paises.json')
df

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

## Guardar y recuperar informacion en formato pickle

In [37]:
df.to_pickle('../datasets/paises.pkl')

In [39]:
df = pd.read_pickle('../datasets/paises.pkl')
df

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9