# Funciones matematicas

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'1.0.1'

In [5]:
df_lmerged = pd.read_csv('../../datasets/london-bike/london-bike-sharing.csv')
df_lmerged.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [6]:
df_lmerged.dtypes

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

In [13]:
df_lmerged['timestamp'] = pd.to_datetime(df_lmerged['timestamp'])
df_lmerged.dtypes

timestamp       datetime64[ns]
cnt                      int64
t1                     float64
t2                     float64
hum                    float64
wind_speed             float64
weather_code           float64
is_holiday             float64
is_weekend             float64
season                 float64
hour                     int64
dtype: object

In [14]:
# Creacion de una columna llamada hora que almacene la hora del registro
df_lmerged['hour'] = df_lmerged['timestamp'].dt.hour
df_lmerged['hour']

0         0
1         1
2         2
3         3
4         4
         ..
17409    19
17410    20
17411    21
17412    22
17413    23
Name: hour, Length: 17414, dtype: int64

In [15]:
df = df_lmerged.iloc[:,1:]
df

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,hour
0,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0,0
1,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0,1
2,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0,2
3,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0,3
4,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0,4
...,...,...,...,...,...,...,...,...,...,...
17409,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0,19
17410,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0,20
17411,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0,21
17412,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0,22
17413,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0,23

In [16]:
# Podemos hacer operaciones en una columna de un data frame
np.sin(df['wind_speed'] ** 2) + 10

0         9.008221
1         9.867648
2        10.000000
3        10.000000
4         9.013013
           ...
17409    10.279387
17410    10.923470
17411     9.114047
17412    10.936473
17413    10.193503
Name: wind_speed, Length: 17414, dtype: float64

In [19]:
# Tambien podemos hacer operaciones entre columnas
df['t1'] - df['t2']

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

In [20]:
# Seleccionar valores solo de los indices pares
df['t1'].iloc[::2]

0        3.0
2        2.5
4        2.0
6        1.0
8        1.5
        ...
17404    6.0
17406    6.0
17408    5.0
17410    5.0
17412    5.5
Name: t1, Length: 8707, dtype: float64

In [21]:
# Con los valores pares seleccionados podemos realizar operaciones
df['t1'].iloc[::2] - df['t2']

0        1.0
1        NaN
2        0.0
3        NaN
4        2.0
        ...
17409    NaN
17410    4.0
17411    NaN
17412    4.0
17413    NaN
Length: 17414, dtype: float64

### Funciones matematicas

- (+) add()
- (-) sub(), substract()
- (*) mul(), multiply()
- (/) truediv(), div(), divide()
- // floordiv()
- % mod()
- ** pow()

In [26]:
# Manejo de los valores NaN, remplazar NaN por 100
df['t1'].iloc[::2].sub(df['t2'], fill_value = 100)

0         1.0
1        97.5
2         0.0
3        98.0
4         2.0
         ...
17409    99.0
17410     4.0
17411    98.5
17412     4.0
17413    99.0
Length: 17414, dtype: float64

In [27]:
df['t1'] / df['t2']

0        1.500000
1        1.200000
2        1.000000
3        1.000000
4             inf
           ...
17409    5.000000
17410    5.000000
17411    3.666667
17412    3.666667
17413    5.000000
Length: 17414, dtype: float64

In [28]:
# Para hacer el producto punto
df['t1'].dot(df['t1'])

3247652.777777778

## Funciones mas complejas y lambdas

In [2]:
def func_1(x):
    y = x ** 2 + 1
    return y

In [3]:
func_1(5)

26

In [6]:
a = np.arange(-5, 6)
a

array([-5, -4, -3, -2, -1,  0,  1,  2,  3,  4,  5])

In [7]:
 func_1(a)

array([26, 17, 10,  5,  2,  1,  2,  5, 10, 17, 26])

In [17]:
df['hour'].apply(func_1)

0          1
1          2
2          5
3         10
4         17
        ...
17409    362
17410    401
17411    442
17412    485
17413    530
Name: hour, Length: 17414, dtype: int64

In [18]:
def func_2(x, a=1, b=0):
    y = x ** 2 + a * x + b
    return y

In [22]:
func_2(10, a=30, b=-10)

390

In [24]:
df['hour'].apply(func_2, args=(20, -10))

0        -10
1         11
2         34
3         59
4         86
        ...
17409    731
17410    790
17411    851
17412    914
17413    979
Name: hour, Length: 17414, dtype: int64

In [25]:
df['hour'].apply(func_2, a=20, b=-10)

0        -10
1         11
2         34
3         59
4         86
        ...
17409    731
17410    790
17411    851
17412    914
17413    979
Name: hour, Length: 17414, dtype: int64

In [26]:
df['t1'].apply(lambda x : x + 273)

0        276.0
1        276.0
2        275.5
3        275.0
4        275.0
         ...
17409    278.0
17410    278.0
17411    278.5
17412    278.5
17413    278.0
Name: t1, Length: 17414, dtype: float64

In [27]:
df.apply(lambda x : x.mean())

cnt             1143.101642
t1                12.468091
t2                11.520836
hum               72.324954
wind_speed        15.913063
weather_code       2.722752
is_holiday         0.022051
is_weekend         0.285403
season             1.492075
hour              11.513265
dtype: float64

In [30]:
df.apply(lambda x : x.mean(), axis=1)

0         29.30
1         24.75
2         24.25
3         18.40
4         15.75
          ...
17409    117.30
17410     67.60
17411     47.45
17412     35.90
17413     27.10
Length: 17414, dtype: float64

In [35]:
df.apply(lambda x : x['t1'] - x['t2'], axis=1)

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

In [37]:
df.applymap(lambda x : x / 1000)

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,hour
0,0.182,0.0030,0.0020,0.0930,0.0060,0.003,0.0,0.001,0.003,0.000
1,0.138,0.0030,0.0025,0.0930,0.0050,0.001,0.0,0.001,0.003,0.001
2,0.134,0.0025,0.0025,0.0965,0.0000,0.001,0.0,0.001,0.003,0.002
3,0.072,0.0020,0.0020,0.1000,0.0000,0.001,0.0,0.001,0.003,0.003
4,0.047,0.0020,0.0000,0.0930,0.0065,0.001,0.0,0.001,0.003,0.004
...,...,...,...,...,...,...,...,...,...,...
17409,1.042,0.0050,0.0010,0.0810,0.0190,0.003,0.0,0.000,0.003,0.019
17410,0.541,0.0050,0.0010,0.0810,0.0210,0.004,0.0,0.000,0.003,0.020
17411,0.337,0.0055,0.0015,0.0785,0.0240,0.004,0.0,0.000,0.003,0.021
17412,0.224,0.0055,0.0015,0.0760,0.0230,0.004,0.0,0.000,0.003,0.022
17413,0.139,0.0050,0.0010,0.0760,0.0220,0.002,0.0,0.000,0.003,0.023