# Group by

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.0.1'

In [4]:
import seaborn as sns
df = sns.load_dataset('diamonds')
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [5]:
df.groupby('cut')

In [6]:
df.groupby('cut').mean()

,carat,depth,table,price,x,y,z
cut,,,,,,,
Fair,1.046137,64.041677,59.053789,4358.757764,6.246894,6.182652,3.982770
Good,0.849185,62.365879,58.694639,3928.864452,5.838785,5.850744,3.639507
Ideal,0.702837,61.709401,55.951668,3457.541970,5.507451,5.520080,3.401448
Premium,0.891955,61.264673,58.746095,4584.257704,5.973887,5.944879,3.647124
Very Good,0.806381,61.818275,57.956150,3981.759891,5.740696,5.770026,3.559801

In [7]:
df.groupby('cut').median()

           carat  depth  table   price      x     y     z
cut
Fair        1.00   65.0   58.0  3282.0  6.175  6.10  3.97
Good        0.82   63.4   58.0  3050.5  5.980  5.99  3.70
Ideal       0.54   61.8   56.0  1810.0  5.250  5.26  3.23
Premium     0.86   61.4   59.0  3185.0  6.110  6.06  3.72
Very Good   0.71   62.1   58.0  2648.0  5.740  5.77  3.56

In [9]:
df.groupby('cut')['carat'].count()

cut
Fair          1610
Good          4906
Ideal        21551
Premium      13791
Very Good    12082
Name: carat, dtype: int64

In [10]:
for key_group, group in df.groupby('cut'):
    grouped_price = group['price'].mean()
    print(f'Cut: {key_group}, Price: {grouped_price}')

Cut: Fair, Price: 4358.757763975155
Cut: Good, Price: 3928.864451691806
Cut: Ideal, Price: 3457.541970210199
Cut: Premium, Price: 4584.2577042999055
Cut: Very Good, Price: 3981.7598907465654

In [12]:
df.groupby(['cut', 'color'])['price'].mean().to_frame()

                       price
cut       color
Fair      D      4291.061350
          E      3682.312500
          F      3827.003205
          G      4239.254777
          H      5135.683168
          I      4685.445714
          J      4975.655462
Good      D      3405.382175
          E      3423.644159
          F      3495.750275
          G      4123.482204
          H      4276.254986
          I      5078.532567
          J      4574.172638
Ideal     D      2629.094566
          E      2597.550090
          F      3374.939362
          G      3720.706388
          H      3889.334831
          I      4451.970377
          J      4918.186384
Premium   D      3631.292576
          E      3538.914420
          F      4324.890176
          G      4500.742134
          H      5216.706780
          I      5946.180672
          J      6294.591584
Very Good D      3470.467284
          E      3214.652083
          F      3778.820240
          G      3872.753806
          H      4535.390351
          I      5255.879568
          J      5103.513274

In [18]:
df.groupby('cut')['price'].aggregate([min, np.mean, max, np.std])

           min         mean    max          std
cut
Fair       337  4358.757764  18574  3560.386612
Good       327  3928.864452  18788  3681.589584
Ideal      326  3457.541970  18806  3808.401172
Premium    326  4584.257704  18823  4349.204961
Very Good  336  3981.759891  18818  3935.862161

In [19]:
def mean_kilo(x):
    return np.mean(x) / 1000

In [20]:
df.groupby('cut')['price'].aggregate([np.mean, mean_kilo])

                  mean  mean_kilo
cut
Fair       4358.757764   4.358758
Good       3928.864452   3.928864
Ideal      3457.541970   3.457542
Premium    4584.257704   4.584258
Very Good  3981.759891   3.981760

In [23]:
dict_agg = {'carat': [min, max], 'price': [np.mean, mean_kilo]}
df.groupby('cut').aggregate(dict_agg)

          carat              price
            min   max         mean mean_kilo
cut
Fair       0.22  5.01  4358.757764  4.358758
Good       0.23  3.01  3928.864452  3.928864
Ideal      0.20  3.50  3457.541970  3.457542
Premium    0.20  4.01  4584.257704  4.584258
Very Good  0.20  4.00  3981.759891  3.981760